*{
    margin:0;
    padding:0;
    font-family: 'red hat display', sans-serif;
}
html{
    box-sizing: border-box;
    text-align: center;
    
}
*, *:before, *:after{
    box-sizing: inherit;
}
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

body{
    height: 100vh;
    width: 100vw;
    background-color:hsl(225, 100%, 94%) ;
    background-image: url("images/pattern-background-desktop.svg");
    background-repeat:no-repeat ;
    background-position:top  ;
    background-size:contain;
    background-blend-mode:normal;
    display: flex;
    flex-direction: column;
    justify-content: center;

}
.content-all{
    max-width:347px;
    display: flex;
    flex-direction: column;
    align-self: center;
    border-radius: 18px;
    /* color:blue;
    opacity: 1; */

}
.content-all >img{    
    align-self: center; 
    max-width: 100%;
    height: auto;
    border-top-left-radius: 18px;
    border-top-right-radius: 18px;

}
.content-details{
    align-self: center;
    width: 100%;
    height:430px;
    border-bottom-left-radius: 18px;
    border-bottom-right-radius: 18px;
    display: flex;
    flex-direction: inherit;
    justify-content: flex-start;
    padding:9.5% 0 0 0;
    gap:20px;
    background-color: white;
    
    
}

h1{
    font-size: 1.3rem;
    font-weight: 900;
    color:hsl(223, 47%, 23%);
    /* padding-top: 10%; */
    /* padding-bottom: 5px; */


}
.product-parent-main{
    font-size: 16px;
    /* padding-top: 1.0rem; */
    line-height: 1.65rem;
    max-width: 260px;
    align-self: center;
    color:hsl(224, 23%, 55%);
    font-weight: 500;
    /* padding-bottom: 7px;   */

}

.product-selection{
    background-color: hsla(225, 100%, 94%, 0.219);
    align-self: inherit;
    display: inherit;
    justify-content: space-around;
    align-items: center;
    align-content: center ;
    width: 85%;
    height: 75px;
    border-radius: 12px;
    margin-top: 10px;
    margin-bottom:10px;
    padding: 13px;

}

.product-selection>img{
    height: 50px;
    width: 50px;
    align-self: center;
}

.product-rate{
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    font-size: .9rem;
    text-align: left;
    margin: 0 40px 0 18px ;
    color:grey;


}
.product-rate p:first-child{
    font-weight: 900;
    margin-bottom: 5px;
    align-self: flex-start;
    color:hsl(223, 47%, 23%);
    /* padding-left:15px; */
}

.content-details .product-selection a{    
    /* outline: 1px black solid; */
    font-size: .8rem;
    font-weight: 700;
    /* color:hsl(245, 75%, 52%); */
}

.content-details a{
    font-weight: 700;
    font-size: 1rem;
    text-decoration: none;
    color: hsl(224, 23%, 55%) ;

}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;            /* Footer height */
  }


/* ------------buttons------------ */
button{
    align-self: inherit;
    width: 85%;
    height:53px;
    border:none;
    border-radius: 12px;
    background-color: hsl(245, 75%, 52%);
    color: white;
    font-size: 1rem;
    font-weight: 700;
    margin-bottom: 9px;
    box-shadow: 0px 12px 24px -12px rgba(224, 234, 255, 1);
    -webkit-box-shadow: 0px 12px 24px -12px rgba(224, 234, 255, 1);
}
button:hover{
    background-color: hsl(245, 67%, 62%);
    cursor:pointer  ;
}

.content-details .product-selection a:hover{
    color:hsl(245, 75%, 52%);
}

.content-details a:hover{
    color: black;
}
/* ---------------mediaquery----------- */
@media only screen and (min-width:21.0625em) {
    body{
        background-image: url("images/pattern-background-desktop.svg");
        background-repeat: repeat-x;

}
}
